


  .address_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    position: relative;
  }
  

  .address_cards .address_card{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.090) 0px 0px 10px 0px;
    border-radius: 4px;
    padding: 10px;
  }


  
.address_cards .user_name{
    font-weight: 500;
    font-size: 17px;
}


.address_cards .email{
    font-weight: 500;
    color: #9155fd;
}

.address_cards .name{
    font-weight: 500;
    color: #575757;
    margin: 3px 0px;
}

.address_cards .state_city{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5px 0px;
}

.address_cards .state_city .city{
    font-weight: 500;
    color: #575757;
}


.radio{
    width: 30px;
    height: 30px;
    box-shadow: rgba(0,0,0,0.090) 0px 0px 5px 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9155fd;
    border-radius: 50%;
    cursor: pointer;
}

.radio .custom-radio-input{
    width: 100px;
}