@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost',sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.z-index{
    z-index: 999;
}

.logo_name{
    font-weight: 600;
    font-size: 22px;
    color: #2c2830;
}

.home_section{
    width: 100%;
    height: auto;
    position: relative;
}

.heading{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}


/* styles.css */
.custom-toast-container {
    position: fixed;
    top: 50px; /* Adjust top position as needed */
    right: 0px; /* Adjust right position as needed */
    z-index: 9999; /* Ensure toast appears above other content */

  }


  .box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 4px;
  }


  .border{
    border: 1px solid #f8f8f8;
  }


  .slider-section{
    width: 100%;
    margin: 20px auto 0px auto;
    padding: 15px 10px;
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    /* border: 1px solid #eeeeee; */
    border-radius: 4px;
    position: relative;
    
  }


  
  .button-group{
    width: 95%;
    height: auto;
    margin: -160px auto;
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 88;
    position: absolute;
    right: 50px;
  }
  
  
   .prev-btn{
    position: absolute;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.042) 0px 0px 8px 0px;
    border: 1px solid #eeeeee;
    z-index: 9;
    right: 50px;
    top: -370px
   }
   .next-btn{
    position: absolute;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.042) 0px 0px 8px 0px;
    right: 0;
    border: 1px solid #eeeeee;
    z-index:  9 ;
    top: -370px
  
   }